/**/
/* Map FullScreen */
body {
  padding: 0;
  margin: 0;
}
html,
body,
#map {
  height: 100%;
  width: 100%;
}
/*
#encabezado1 {
  color: #6b1717;
  font-weight: normal;
  font-size: 35px;
  font-family: Arial;
  text-transform: uppercase;
}*/